h1 {
    text-align: center;
    font-weight: 9983;
    font-style: italic;
}
.bottom-left {
    position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 354%;
  font-weight: 400;
  font-style: italic;

}
.container {
color: rgb(250, 253, 255);
}
h2 {
    color: rgb(211, 211, 211);
}
.messi {
    color: rgb(229, 225, 225);
    font-size: large;
}
.ronaldo {
    color: rgb(229, 225, 225);
    font-size: large;
}
.neymar {
    color: rgb(229, 225, 225);
    font-size: large;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
.thumbnail{
border-radius: 50px;
}
.ccc {
    border-radius: 50px;
}
.aaa {
    border-radius: 50px;
}
.ppp {
    border-radius: 50px;
}
h5 {
    color: azure;
    font-size: 50px;
    text-align: center;
}
.ema {
    color: azure;
    font-size: 20PX;
    text-align: center;
}
.map {
    text-align: center;
    margin-right:50px;
}
.addr {
    color: azure;
    font-size: x-large;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:inherit
}
.navbar-brand {
    color: rgb(80, 80, 215);
    font-size:large;
  }
  
  body{
    background: #fff;
    font-family: 'PT Sans', sans-serif;
    margin-top: 0%;
  }
  h2{
    padding-top: 1.5rem;
    margin-bottom: 10px;
  }
  a{
    color: #b72c2c;
  }
  a:hover{
    color: #cc3c50;
    text-decoration: none;
  }
  .card{
    border: 0.40rem solid #f8f9fa;
    top: 17%;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.5);
  }
  .form-control{
    background-color: #e8f0f9;
    padding: 20px;
    padding: 25px 15px;
    margin-bottom: 1.3rem;
    margin-top: 10%;
    text-align: 2;
  }
  
  .form-control:focus {
  
      color: #000000;
      background-color: #fdf3f3;
      border: 3px solid #010000;
      outline: 0;
      box-shadow: none;
  
  }
  
  .btn{
    padding: 0.6rem 1.2rem;
    background: #ae6a72;
    border: 2px solid #da5767;
  }
  .btn-primary:hover {
  
      
      background-color: #df8c96;
      border-color: #df8c96;
    transition: .3s;
  
  }
  #name {
    font-size: 20px;
  }
  #email {
    font-size: 20px;
  }
  #password {
    font-size: 20px;
  }
  #confirm-password {
    font-size: 20px;
  }
  .log {
    font-size: 20px;
  }
  .btn {
    font-size: large;
  }
  .logg {
    font-size: 20px;
  }
  .regi {
    font-size: 35px;
    color: #e9d9db;
  }
 .saka:hover{
color: #ff0000;
background-color: #010000;
 }
 .sua:hover{
color: #ff0000;
background-color: #f26161;
}
.pele:hover{
color: #ff0000;
background-color: #433636;
}
.maradona:hover{
color: #ff0000;
background-color: #9c0000;
}
.bale:hover{
color: #ff0000;
background-color: #d0c200;
}
.roony:hover{
color: #ff0000;
background-color: #00499c;
}
.drogba:hover{
color: #ff002b;
background-color: #df5555;
}
.kaka:hover{
color: #ff0000;
background-color:rgba(100, 74, 154, 0.678)
}
.nani:hover{
color: #ff0000;
background-color: #74ceaa;
}
.lio {
    text-align: center;
}
.meddi {
    font-weight: 700;
}
.messi{
    font-size: 120%;
}